# {{ ansible_managed }}
{% for host in ssh_push_upstream | sort %}
{% set _vars = hostvars[host] %}
# Host {{ host }}
command="~/bin/ftpsync -T 'ssh ({{ host }})'",from="{{ _vars.ssh_push_ips | join(',') }}",restrict {{ _vars.ssh_push_key }}
{% endfor %}
